In [3]:
data("iris")

In [4]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

[Pivot in R ](https://www.r-bloggers.com/pivot-tables-in-r/)

In [7]:
genes = paste('MMP', sprintf("%04d",1:10), sep="")
data = expand.grid(gene=genes, condition=c('copper', 'cheetos', 'beer', 'pizza'))
data$value = rnorm(40)
head(data)

  gene    condition value
1 MMP0001 copper     1.4937029
2 MMP0002 copper    -1.0783997
3 MMP0003 copper     1.3556558
4 MMP0004 copper    -0.4389601
5 MMP0005 copper    -0.2955281
6 MMP0006 copper    -0.3599112

In [8]:
 install.packages('reshape')
library(reshape)

Warning message:
“unable to access index for repository https://cran.r-project.org/src/contrib:
  cannot open URL 'https://cran.r-project.org/src/contrib/PACKAGES'”
Warning message:
“package ‘reshape’ is not available (for R version 3.4.3)”
Warning message:
“unable to access index for repository https://cran.r-project.org/bin/macosx/el-capitan/contrib/3.4:
  cannot open URL 'https://cran.r-project.org/bin/macosx/el-capitan/contrib/3.4/PACKAGES'”
Warning message:
“package ‘reshape’ was built under R version 3.4.4”

In [9]:
cast(data, gene ~ condition)

   gene    copper     cheetos     beer        pizza
1  MMP0001  1.4937029  0.33500629 -2.03889608  1.67153570
2  MMP0002 -1.0783997  2.42689898 -0.11908460 -0.75792287
3  MMP0003  1.3556558 -0.28963922  0.12301021  0.62075811
4  MMP0004 -0.4389601  0.69409813 -0.05329289  1.54387134
5  MMP0005 -0.2955281 -0.64542327  0.45392558 -0.05368237
6  MMP0006 -0.3599112  0.31842846  0.60185981  0.88068204
7  MMP0007 -1.1606051 -1.27440559  1.46498925  1.05561764
8  MMP0008  1.1858115  0.53123722  1.42862165  0.02708570
9  MMP0009 -1.1903611  0.08012888  1.40783975 -0.60902289
10 MMP0010 -0.1751001  0.47704577 -0.53655450  0.02463163